<header class="d-flex flex-wrap justify-content-center py-4 mb-4 border-bottom">
  <a href="/" class="col-8">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <img src="./assets/image/logo.png" alt="Logo del mundial">
  </a>

  <ul class="nav nav-pills col-4  justify-content-center">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
  </ul>
</header>

<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Mundialistas</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <app-productos> 
          
        </app-productos>
      </div>

      <div class="col-4">

      </div>
       
    </div>
    
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-3">
      <img src="./assets/image/logo.png" alt="Logo del mundial">
    </div>


    <div class="col-5">
      <h5>Section</h5>
      <p>Esta pagina fue creada para los fanaticos del mundial, para que puedas acceder de una sola pagina a todos los
        accesorios
        que necesitas de tu equipo favorito.</p>
    </div>

    <div class="col-4">
      <form>
        <h5>Suscribite a nuestro Blog de novedades</h5>
        <p>Dejanos tu mail para que te lleguen los ultimos ingresos y no te quedes sin tu producto</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
          <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>© 2022 Company, Inc. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter"></use>
          </svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use>
          </svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use>
          </svg></a></li>
    </ul>
  </div>
</footer>