<!-- Datos de Contacto de la empresa -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Datos de Contacto</h1>
                </div>            
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="text-center">Datos de la Empresa</h2>
                    <p class="text-center">
                        <strong>Nombre de la Empresa:</strong> Mundialistas
                    </p>
                    <p class="text-center">
                        <strong>Direccion:</strong> Av. Corrientes 1234
                    </p>
                    <p class="text-center">
                        <strong>Telefono:</strong> 011-1234-5678
                    </p>
                    <p class="text-center">
                        <strong>Correo Electronico: </strong>
                        <a href="mailto: ">mundialistas@gmail.com</a>
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="text-center">Datos del Desarrollador</h2>
                    <p class="text-center">
                        <strong>Nombre:</strong> Viviana Ayelen Diaz Bailey
                    </p>
                    <p class="text-center">
                        <strong>Telefono:</strong> 011-1234-5678
                    </p>
                    <p class="text-center">
                        <strong>Correo Electronico: </strong>
                        <a href="mailto:"> vdiazbailey@alumnos.exa.unicen.edu.ar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>