<h1>{{title}}</h1>
<table class="table text-center">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let producto of productos">
            <td> <img width="100" class="img-thumbnail" [src]="producto.imagen" [alt]="producto.nombre"></td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio | currency}}</td>
            <td>
                <span class="badge rounded-pill text-bg-secondary" *ngIf="producto.stock == 0">
                    Sin Stock
                </span>
            </td>
            <td width="110px">
                <app-input-carrito *ngIf="producto.stock>0" [(cantidad)]="producto.cantidad" [stock]="producto.stock"></app-input-carrito>
            </td>
            <td>
                <button class="btn btn-primary" *ngIf="producto.stock>0" (click)="addToCart(producto)">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>