<h1>{{title}}</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let producto of productos">
            <td>[src]="producto.image" [alt]="producto.nombre"</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio | currency}}</td>
            <td>
                <span class="badge rounded-pill text-bg-secondary" *ngIf="producto.stock == 0">
                    Sin Stock 
                </span>
            </td>
        </tr>
    </tbody>
</table>